.notFound {
  max-width: 1300px;
  margin: auto;
  padding: 1.5rem 0 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoPart {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.infoPart h2 {
  font-size: 1.875rem;
}

.infoPart__oops {
  color: #1c1c1e;
  font-weight: 700;
}

.infoPart__h2 {
  color: black;
  font-weight: 500;
}

.infoPart__regular {
  font-weight: 500;
  color: #4b4b4b;
}

@media (max-width: 920px) {
  .notFound {
    flex-direction: column;
    align-items: center;
  }

  .infoPart {
    align-items: center;
  }

  .imagePart__img {
    width: 320px;
  }
}
