.button {
  background-color: #003cff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  border: none;
}

.button__deny {
  background-color: rgba(217, 55, 55, 0.8);
}

.button:hover,
.button:disabled {
  background-color: #7796c0;
}
