.prescoring {
    max-width: 1300px;
    padding: 2rem;
    margin: auto;
    background-color: white;
    border-radius: 28px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08), 0px 2px 4px 0px rgba(0,0,0,0.2);
}