.platinum {
    max-width: 1300px;
    padding: 3rem 2rem;
    margin: auto auto 3rem;
    display: flex;
    flex-direction: row;
    background: linear-gradient(#cbd5e09a, #feebc8e3);
    font-family: 'Ubuntu', sans-serif;
    border-radius: 26px;
}


.platinum__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.platinum__card {
    margin: auto;
}

.platinum__title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.platinum__description {
    max-width: 32rem;
    font-weight: 500;
    color: #2D3748;
}

.platinum__features {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.platinum__feature {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #3D3D3D;
}

.feature__title {
    font-weight: 700;   
    font-size: 1.25rem;
}

.feature__regular {
    font-weight: 500;
}

.platinum__info button {
    align-self: flex-start ;
}