.section {
    max-width: 1300px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 2.625rem;
}

.steps {
  display: flex;
  gap: 3.5rem;
}

.step:first-of-type {
    margin-right: 3rem;
}

.step__top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    margin-bottom: 1.25rem;
}

.step__number {
    background-color: #D9D9D9;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    font-size: 1.25rem;
    font-weight: 700;
}

.step__bottom {
    color: black;
    font-weight: 500;
    width: 85%;
    margin: auto;
}

@media (max-width: 920px) {
    .steps {
        flex-direction: column;
        gap: 3rem;
    }

    .step__top {
        flex-direction: column;
        gap: 1rem;
    }

    .step:first-of-type {
        margin-right: 0;
    }
}
