.card {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex-grow: 1;
  border-radius: 28px;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  box-shadow:
    0px 0px 8px 0px rgba(0, 0, 0, 0.08),
    0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.icon {
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
}
