.design {
  display: flex;
  max-width: 1300px;
  margin: auto auto 7rem;
  gap: 9.5rem;
}

.design h1 {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 2.25rem;
}

.design__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 920px) {
  .design {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .design__cards {
    justify-content: center;
  }

  .design__choice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
